<html>
<title>Home</title>
<head>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <!-- Login/Logout/Register -->
  {% if not session.logged_in %}
    <p><a href="login_page">Login</a></p>
    <p><a href="register_page">Register</a></p>
  {% else %}
    <p><a href="logout_act">Logout</a></p>
  {% endif %}
    
  <p>Hello <span id="username">{{ username }}</span></p>
  
<p>Search for restaurants</p>
<form method="POST" action="/search_restaurants_act">
<p>Name<input type="text" name="r_name">
  <input type="submit" value="Search"></p>
</form>
  {% if data != None %}
    <div>{{data}}</div>
    <div>
      {% for n in data %}
      <div>{{n}}</div>
      {% endfor %}
    </div>
  {% endif %}
</body>


</html>
