<html>
<title>Search Restaurants</title>
<head>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <!-- Menu -->
  <ul class="nav nav-pills">
    <li role="presentation" ><a href="/">Home</a></li>
    <li role="presentation" class="active"><a href="search_restaurants">Search Restaurants</a></li>
    {% if not session.logged_in %}
      <li role="presentation"><a href="login_page">Login</a></li>
      <li role="presentation"><a href="register_page">Register</a></li>
    {% else %}
      <li role="presentation"><a href="show_friend_list">Friends</a></li>
      <li role="presentation"><a href="logout_act">Logout</a></li>
    {% endif %}
  </ul>

  <h1>Search for restaurants</h1>
  <!-- Greetings -->
  <p>Hello <span id="username">{{ username }}</span></p>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}


<form class="navbar-form navbar-left" role="search" method="POST" action="/search_restaurants_act">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Restaurant Name" name="r_name">
  </div>
  <select name="noiselevel">
    <option value="Not Specified" selected>Noise Level (Not Specified)</option>
    <option value="NULL">Null</option>
    <option value="average">average</option>
    <option value="quiet">quiet</option>
    <option value="loud">loud</option>
  </select>

  <button type="submit" class="btn btn-default">Search</button>
</form>
<br><br>
<p>Results:</p>
<!-- <form method="POST" action="/search_restaurants_act">
  <p>Name<input type="text">
  <input type="submit" value="Search"></p>
</form> -->

  {% if data != None %}
    <div>{{data}}</div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">rid</th>
          <th scope="col">name</th>
          <th scope="col">noiselevel</th>

          <th scope="col">details</th>
        </tr>
      </thead>
      <tbody>
        
        {% for n in data %}
        <tr>
          <th scope="row">{{n.rid}}</th>
          <td>{{n.r_name}}</td>
          <td>{{n.noiselevel}}</td>
          <td><a href="{{url_for('show_restaurant_details', rid=n.rid)}}"><button type="button" class="btn">
  <span class="glyphicon glyphicon-search" aria-hidden="true"></span></button></a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}



<span style="bottom:0; right:0;"><a href="http://glyphicons.com/">Glyphicons</a></span>
</body>


</html>
