<html>
<title>Show restaurant details</title>
<!-- also want this page to show reviews -->
<head>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <!-- Menu -->
  <ul class="nav nav-pills">
    <li role="presentation" ><a href="/">Home</a></li>
    <li role="presentation" class="active"><a href="search_restaurants">Search Restaurants</a></li>
    <li role="presentation"><a href="show_location_recommend">Location Recommend</a></li>
    {% if not session.logged_in %}
      <li role="presentation"><a href="login_page">Login</a></li>
      <li role="presentation"><a href="register_page">Register</a></li>
    {% else %}
      <li role="presentation"><a href="show_friend_list">Friends</a></li>
      <li role="presentation"><a href="show_bookmark_list">Bookmarks</a></li>
      <li role="presentation"><a href="logout_act">Logout</a></li>
    {% endif %}
  </ul>

  <h1>Show restaurant details</h1>
  <!-- Greetings -->
  <p>Hello <span id="username">{{ username }}</span></p>


{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}


<p>Results:</p>

  {% if data != None %}
    
    <!-- show restaurant details -->
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">bookmark</th>
          <th scope="col">rid</th>
          <th scope="col">name</th>
          <th scope="col">noiselevel</th>
          <th scope="col">smoking</th>
          <th scope="col">dogs allow?</th>
          <th scope="col">has TV?</th>
          <th scope="col">accept credit card?</th>
          <th scope="col">good for kids?</th>
          <th scope="col">alcohol</th>
          <th scope="col">wifi</th>
          <th scope="col">stars</th> 
          <th scope="col">price</th> 
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>
            {% if data.is_bookmark%}
            <a href="{{url_for('del_bookmark_act', uid=data.uid, rid=data.rid)}}"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></a>
            
            {% else %}
            <a href="{{url_for('add_bookmark_act', uid=data.uid, rid=data.rid)}}"><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span></a>
            
            {% endif %}
          </th>
          <td scope="row">{{data.rid}}</td>
          <td>{{data.r_name}}</td>
          <td>{{data.noiselevel}}</td>
          <td>{{data.dogsallowed}}</td>
          <td>{{data.hastv}}</td>
          <td>{{data.smoking}}</td>
          <td>{{data.accepts_credit_cards}}</td>
          <td>{{data.goodforkids}}</td>
          <td>{{data.alcohol}}</td>
          <td>{{data.wifi}}</td>
          <td>{{data.stars}}</td> 
          <td>{{data.price}}</td>
        </tr>
      </tbody>
    </table>

    {% if data.categories != None %}
    <div>Categories:
      {% for n in data.categories %}
      <span class="label label-primary">{{n}}</span>
      {% endfor %}
    </div>
    {% endif %}

    {% if data.open_hours != None %}
    <div>Open Hours</div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Monday</th>
          <th scope="col">Tuesday</th>
          <th scope="col">Wednesday</th>
          <th scope="col">Thursday</th>
          <th scope="col">Friday</th>
          <th scope="col">Saturday</th>
          <th scope="col">Sunday</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{data.open_hours.Monday.open}}</td>
          <td>{{data.open_hours.Tuesday.open}}</td>
          <td>{{data.open_hours.Wednesday.open}}</td>
          <td>{{data.open_hours.Thursday.open}}</td>
          <td>{{data.open_hours.Friday.open}}</td>
          <td>{{data.open_hours.Saturday.open}}</td>
          <td>{{data.open_hours.Sunday.open}}</td>
        </tr>
        <tr>
          <td>{{data.open_hours.Monday.close}}</td>
          <td>{{data.open_hours.Tuesday.close}}</td>
          <td>{{data.open_hours.Wednesday.close}}</td>
          <td>{{data.open_hours.Thursday.close}}</td>
          <td>{{data.open_hours.Friday.close}}</td>
          <td>{{data.open_hours.Saturday.close}}</td>
          <td>{{data.open_hours.Sunday.close}}</td>
        </tr>
      </tbody>
    </table>
    {% endif %}
    



    {% if data.checkin != None %}
    <div>Peak Hours</div>
    <!--{{data.checkin_nonzero}}-->
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">hours\weekday</th>
          <th scope="col">Monday</th>
          <th scope="col">Tuesday</th>
          <th scope="col">Wednesday</th>
          <th scope="col">Thursday</th>
          <th scope="col">Friday</th>
          <th scope="col">Saturday</th>
          <th scope="col">Sunday</th>
        </tr>
      </thead>
      <tbody>
        {% for x in data.checkin %}
        <tr>
          <th scope="row">{{x.hour}}:00</th>
          {% if x.Monday != 0 %}<td class="bg-primary">{{x.Monday}}</td>
          {% else %}<td>{{x.Monday}}</td>{% endif %}
          
          {% if x.Tuesday != 0 %}<td class="bg-primary">{{x.Tuesday}}</td>
          {% else %}<td>{{x.Tuesday}}</td>{% endif %}

          {% if x.Wednesday != 0 %}<td class="bg-primary">{{x.Wednesday}}</td>
          {% else %}<td>{{x.Wednesday}}</td>{% endif %}
          
          {% if x.Thursday != 0 %}<td class="bg-primary">{{x.Thursday}}</td>
          {% else %}<td>{{x.Thursday}}</td>{% endif %}
          
          {% if x.Friday != 0 %}<td class="bg-primary">{{x.Friday}}</td>
          {% else %}<td>{{x.Friday}}</td>{% endif %}
          
          {% if x.Saturday != 0 %}<td class="bg-primary">{{x.Saturday}}</td>
          {% else %}<td>{{x.Saturday}}</td>{% endif %}
          
          {% if x.Sunday != 0 %}<td class="bg-primary">{{x.Sunday}}</td>
          {% else %}<td>{{x.Sunday}}</td>{% endif %}
        </tr>
        {% endfor %}
        
      </tbody>
    </table>
    {% endif %}

    
    
    <div>Location</div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">postal code</th>
          <th scope="col">address</th>
          <th scope="col">state</th>
          <th scope="col">city</th>
          <th scope="col">latitude</th>
          <th scope="col">longitude</th>
          
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{data.postal_code}}</td>
          <td>{{data.address}}</td>
          <td>{{data.state}}</td>
          <td>{{data.city}}</td>
          <td>{{data.latitude}}</td>
          <td>{{data.longitude}}</td>
        </tr>
      </tbody>
    </table>
    

    {% if data.has_photo != None %}
    
    {% for n in data.has_photo %}
    
    <div class="media">
      <div class="media-left">
        <a href="#">
          <img class="media-object" src="{{n.path}}" alt="image error">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading"><span class="label label-primary">{{n.label}}</span>{{n.pid}}</h4>
        {{n.caption}}
      </div>
    </div>
    {% endfor %}
    
    {% endif %}

    <div>Parking</div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">garage</th>
          <th scope="col">street</th>
          <th scope="col">lot</th>
          <th scope="col">valet</th>
          
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{data.garage}}</td>
          <td>{{data.street}}</td>
          <td>{{data.lot}}</td>
          <td>{{data.valet}}</td>
        </tr>
      </tbody>
    </table>
    <div>Meal Type</div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">dessert</th>
          <th scope="col">latenight</th>
          <th scope="col">dinner</th>
          <th scope="col">lunch</th>
          <th scope="col">breakfast</th>
          <th scope="col">brunch</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{data.dessert}}</td>
          <td>{{data.latenight}}</td>
          <td>{{data.dinner}}</td>
          <td>{{data.lunch}}</td>
          <td>{{data.breakfast}}</td>
          <td>{{data.brunch}}</td>
        </tr>
      </tbody>
    </table>
    <div>Ambience</div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">romantic</th>
          <th scope="col">intimate</th>
          <th scope="col">classy</th>
          <th scope="col">hipster</th>
          <th scope="col">touristy</th>
          <th scope="col">trendy</th>
          <th scope="col">upscale</th>
          <th scope="col">casual</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{data.romantic}}</td>
          <td>{{data.intimate}}</td>
          <td>{{data.classy}}</td>
          <td>{{data.hipster}}</td>
          <td>{{data.touristy}}</td>
          <td>{{data.trendy}}</td>
          <td>{{data.upscale}}</td>
          <td>{{data.casual}}</td>
        </tr>
      </tbody>
    </table>

  <!-- <div>{{data}}</div> -->
  {% endif %}

{% if not session.logged_in %}
<h3><span class="label label-danger">Login to write a tip</span></h3>
{% else %}
<p>Write a tip:</p>
<div class="form-group">
  <form action="/write_tip_act" method="post">
    <input type="hidden" value="{{rid}}" name="rid">
    <input type="text" class="form-control" placeholder="write a tip"  name="t_text">
    
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
{% endif %}

<p>Tips:</p>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">tid</th> 
      <th scope="col">uid</th>
      <th scope="col">rid</th>
      <th scope="col">username</th>
      <th scope="col">text</th>      
      <th scope="col">date</th>

    </tr>
  </thead>
  <tbody>
    
    {% for n in tips %}
    <tr>
      <th scope="row">{{n.tid}}</th>
      <td>{{n.uid}}</td>
      <td>{{n.u_name}}
        <button type="button" class="btn">
        
        {% if n.is_friend %}
        <a href="{{url_for('del_friend_act', uid=n.uid, rid=n.rid)}}"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></a>
        {% else %}
        <a href="{{url_for('add_friend_act', uid=n.uid, rid=n.rid)}}"><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span></a>
        
        {% endif %}
        </button>
        
      </td>
      <td>{{n.rid}}</td>
      <td>{{n.t_text}}</td>
      <td>{{n.t_date}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% if not session.logged_in %}
<h3><span class="label label-danger">Login to write a review</span></h3>
{% else %}
<p>Write a review:</p>
<div class="form-group">
  <form action="/write_review_act" method="post">
    <input type="hidden" value="{{rid}}" name="rid">

    <textarea class="form-control" rows="5" name="review_text"></textarea>
    <div>rating:</div>
    <select name="rating">
      <option value="5" selected>5</option>
      <option value="4">4</option>
      <option value="3">3</option>
      <option value="2">2</option>
      <option value="1">1</option>
    </select>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
{% endif %}

<p>Reviews:</p>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">review_id</th> 
      <th scope="col">rating</th>
      <th scope="col">plaintext</th>
      <th scope="col">useful</th>
      <th scope="col">funny</th>
      <th scope="col">cool</th>
      <th scope="col">date</th>
      <th scope="col">uid</th>
      <th scope="col">username</th>
      <th scope="col">rid</th>
    </tr>
  </thead>
  <tbody>
    
    {% for n in reviews %}
    <tr>
      <th scope="row">{{n.review_id}}</th>
      <td>{{n.rating}}</td>
      <td>{{n.plaintext}}</td>
      <td>{{n.useful}}
        <a href="{{url_for('review_vote_act', vote_type='useful', rid=n.rid, review_id=n.review_id)}}">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </a>
      </td>
      <td>{{n.funny}}
        <a href="{{url_for('review_vote_act', vote_type='funny', rid=n.rid, review_id=n.review_id)}}">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </a>
      </td>
      <td>{{n.cool}}
        <a href="{{url_for('review_vote_act', vote_type='cool', rid=n.rid, review_id=n.review_id)}}">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </a>
      </td>
      <td>{{n.date}}</td>
      <td>{{n.uid}}</td>
      <td>{{n.u_name}}
        <button type="button" class="btn">
        
        {% if n.is_friend %}
        <a href="{{url_for('del_friend_act', uid=n.uid, rid=n.rid)}}"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></a>
        {% else %}
        <a href="{{url_for('add_friend_act', uid=n.uid, rid=n.rid)}}"><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span></a>
        
        {% endif %}
        </button>
        
      </td>
      <td>{{n.rid}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>


<span style="bottom:0; right:0;"><a href="http://glyphicons.com/">Glyphicons</a></span>
</body>


</html>
