<html>
<title>Home</title>
<head>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <!-- Menu -->
  <ul class="nav nav-pills">
    <li role="presentation"><a href="/">Home</a></li>
    <li role="presentation"><a href="search_restaurants">Search Restaurants</a></li>
    <li role="presentation" class="active" ><a href="show_location_recommend">Location Recommend</a></li>
    {% if not session.logged_in %}
      <li role="presentation"><a href="login_page">Login</a></li>
      <li role="presentation"><a href="register_page">Register</a></li>
    {% else %}
      <li role="presentation"><a href="show_friend_list">Friends</a></li>
      <li role="presentation"><a href="show_bookmark_list">Bookmarks</a></li>
      <li role="presentation"><a href="logout_act">Logout</a></li>
    {% endif %}
  </ul>
  <!-- Greetings -->
  <p>Hello <span id="username">{{ username }}</span></p>
  <p><a href="search_restaurants">Search Restaurants</a></p>
  


{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

  
  

  <form method="POST" action="/get_cur_location_recommend_act">
    <div class="row">
      <div class="col-lg-6">
        <div class="input-group">
          <input type="text" class="form-control" name="latitude" placeholder="latitude" value="40.8075355">
          <input type="text" class="form-control" name="longitude" placeholder="longitude" value="-73.9651316">
          <span class="input-group-btn">
            <input type="submit" value="submit" class="btn btn-primary">
          </span>
        </div><!-- /input-group -->
      </div><!-- /.col-lg-6 -->
    </div>
    
    <h1>recommended restaurants based on location</h1>
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">rid</th>
            <th scope="col">name</th>
            <th scope="col">postal_code</th>
            <th scope="col">state</th>
            <th scope="col">city</th>
            <th scope="col">address</th>
            <th scope="col">latitude</th>
            <th scope="col">longitude</th>
            <th scope="col">details</th>
          </tr>
        </thead>
        <tbody>
          {% for n in location_recoms %}
          {% if n.r_name %}
          <tr>
            <th scope="row">{{n.rid}}</th>
            
            <td>{{n.r_name}}</td>
            <td>{{n.postal_code}}</td>
            <td>{{n.state}}</td>
            <td>{{n.city}}</td>
            <td>{{n.address}}</td>
            <td>{{n.latitude}}</td>
            <td>{{n.longitude}}</td>
            <td>
              <a href="{{url_for('show_restaurant_details', rid=n.rid)}}"><button type="button" class="btn">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
              </a>
            </td>
          </tr>
          {% endif %}
          {% endfor %}
        </tbody>
    </table>
  </form>
    


<span style="bottom:0; right:0;"><a href="http://glyphicons.com/">Glyphicons</a></span>
</body>


</html>
